<div class="col-md-4 mt20">
  <div class="post-img">
    {% if page.image %}
    <img
      width="600"
      class="rounded"
      src="{{page.image | relative_url}}"
      alt="{{page.title}}"
    />
    {% endif %}
  </div>

  <div class="mt10 recent">
    <h2>Artigo original</h2>
    <ul>
      <li>
        <span itemprop="headline" itemscope itemtype="https://schema.org/CreativeWork">
          <span itemprop="headline">Headline: <a href="{{page.highlight_url}}">{{ page.highlight_title }}</a></span>
        </span>
      </li>
      <li>
        <span itemprop="headline" itemscope itemtype="https://schema.org/CreativeWork">  
        <span itemprop="author">Autor: {{ page.highlight_autor }}</span>
      </span>
      </p>
    </li>  
    </ul>
  </div>
  {% if site.fb-like-box %}
  <div class="mt10">
    <div
      class="fb-page"
      data-href="https://www.facebook.com/webjeda/"
      data-width="400"
      data-small-header="true"
      data-adapt-container-width="true"
      data-hide-cover="true"
      data-show-facepile="true"
    >
      <blockquote
        cite="https://www.facebook.com/webjeda/"
        class="fb-xfbml-parse-ignore"
      >
        <a href="{{site.fb-page-url}}">{{site.fb-page-title}}</a>
      </blockquote>
    </div>
  </div>
  {% endif %}
  <br />
</div>
